.dropdown:hover {background-color: #F44D3C;}
.dropdown:hover .dropdown-menu {display: block; background-color: #000;}   
.dropdown-menu li>a{color:white;transition: all 0.3s; }

.dropdown-menu li>a:hover{background:#F44D3C; color:white;}
.nav .navbar-nav:hover {background-color: #F44D3C;}

.dropdown:hover > .dropdown-menu .leo {
	display:none;
	opacity:0;
}

.dropdown-menu-item {
	position: relative;
}
.dropdown-menu-item:hover > .dropdown-menu.leo {display:block; opacity:1;}

.dropdown-menu.leo {
    position: absolute;
    left: 100%;
    float: none;
    top: 0;
    margin-left: -1px;
    margin-top: 0px;
}

.logo {
	position: absolute;
	top: -20px;
	left: 49.1%;
	width: 200px;
	height: 100px;
	line-height: 100px;
	margin: 0px 0px 0px -88px;
	z-index: 10;
	overflow: hidden;
}

.navbar {   
    box-shadow: 0 8px 6px -6px #111;
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
}

.carousel-content {
    color:white;
    display:flex;
    align-items:center;
}

img.ri
{
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
	/*border-radius: 10px;

    border: 7px solid gray;
    */
}

img.ri:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.ri { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img.ri { max-height: 90%; }
}

.main-background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	float:left;
	background-color: rgba(0, 0, 0, 0.9);
}
